html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins,
kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol,
ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, figcaption,
figure, footer, header, hgroup, menu, nav, section, summary, time,
mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body{
	font-family: "HelveticaNeue", Arial, Helvetica, sans-serif;
}
#tab-bar{
	zoom: 1;
  background: #050405;
  border-bottom: 1px #441d22 solid;
  position: relative;
}
#tab-bar:before, #tab-bar:after{
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; 
}
#tab-bar:after{
	clear: both;
}
#tab-bar li {
  display: inline;
  float: left;
  width: 33.333%; }
#tab-bar a {
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 1px;
  color: #cdcdcd;
  display: block;
  font-size: 0.857em;
  font-weight: bold;
  height: 4.583em;
  min-height: 55px;
  margin: 0 0.833em;
  overflow: hidden;
  padding-top: 0.428em;
  position: relative;
  text-align: center;
  text-decoration: none; 
}
#tab-sighting a{
	background: #d5d2d2;
	color: #111111;
	height: 4.95em;
	margin: 0 0 -0.367em;
}
.page-spots #tab-spots a{
	color: #ebc466;
}
.table-view {
	background: #7c0c18;
}
.table-view li {
	border-top: 1px #8c2a34 solid;
	border-bottom: 1px #640913 solid;
}
.table-view .even {
	background: #830f1b;
}
.table-action li {
	position: relative;
}
.table-action a {
	color: #d6b69e;
	display: block;
	padding: 0.5em 0.785em 0.714em;
	position: relative;
	text-decoration: none;
	text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 1px;
}
.table-action h2 {
	color: white;
	font-size: 1.285em; /* 18px / 14px */
	width: 82%;
}
.table-action .relative-distance {
	font-weight: normal;
}
.table-action .sightings {
	background: #6f0914;
	border: 1px #841420 solid;
	-webkit-border-radius: 0.143em;
	-moz-border-radius: 0.143em;
	border-radius: 0.143em;
	color: #ebc466;
	font-weight: bold;
	position: absolute;
	padding: 0.214em 0.429em;
	right: 2.5em;
	top: 50%;
	margin-top: -1.1em;
}
#tab-spots a:after{
	content: url(../images/sprite.png);
	clip: rect(0 18px 33px 0px);
	position: absolute;
}
#tab-bar {
	background: #050405;
}
.cssgradients #tab-bar {
	background-image:
		-webkit-gradient(linear, 0% 0%, 0% 100%,
		from(#353535),
		color-stop(0.55, #212021),
		color-stop(0.551, #090809),
		to(#050405));
	background-image:
		linear-gradient(top,
		#353535,
		#212021 55%,
		#090809 55.1%,
		#050405);
}
#tab-bar a:after {
	content: url(../images/sprite.png);
	position: absolute;
	overflow: hidden;
	left: 50%;
	top: 1.833em;
}
.svg #tab-bar a:after {
	content: url(../images/sprite.svg);
}

